AWSStepMachine.json
{
  "Comment": "Infinity Loop",
  "StartAt": "GetFileTask",
  "States": {
    "GetFileTask": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:971024013681:function:TokyoCovidSave",
      "Next": "CheckIfReady"
    },
    "CheckIfReady": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "MakePlotAndTweet"
        },
        {
          "Variable": "$.statusCode",
          "NumericEquals": 304,
          "Next": "NotReadyWait"
        }
      ],
      "Default": "EndGame"
    },
    "NotReadyWait": {
      "Type": "Wait",
      "Seconds": 600,
      "Next": "GetFileTask"
    },
    "MakePlotAndTweet": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:971024013681:function:TokyoCovidPlot",
      "Next": "EndGame"
    },
    "EndGame": {
      "Type": "Pass",
      "Result": "End Game Done",
      "End": true
    }
  }
}